/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docker/mysql/tmp/mysql/ib_logfile0
docker/mysql/tmp/mysql/ibdata1
docker/mysql/tmp/mysql/dental/users.ibd
/docker/mysql/tmp/*
/public/assets/*
/public/vendor/*
/public/vendor/laravel-admin/*
/resources/lang/*