.body{
    margin: 0;
}

.main{
    padding: 0;
}


.containter{
    background:url(http://placehold.jp/1000x700.png) no-repeat 50% 50%/cover;
    padding: 100px 0;
    h1{
        margin: 0px;
    }
}

.list {
    overflow: auto;
    scroll-snap-type: x;
    display: flex;
}
.indexbox {
    scroll-snap-align: start;
    height: 10vh;
    width: 10vw;
    flex: none;
}




