.body{
    margin: 0;
}

main{
    margin-top: 0px;
}


.containter{
    background-image: url(public/temp/image4.jpg);
    width: 100%;
    height: 300px;
    background-size: contain;
    padding: 70px 0;
    h1{
        margin: 0px;
        font-weight: bold;
        // font-family: Comic Sans MS;
        color: rgba(119, 119, 119, 0.986);
    }
}

.list{
    margin: 0 auto;
    width: 980px;
    &_content{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
        &_items{
            min-height: 100px;
            width: calc(100% / 3);
            text-align: center;
        }
            &_item{
                margin-top: 20px;
                padding: 10px;
                height: 100px;
                width: 100px;
            }
                &_text{
                    text-align: center;
                    margin: 10px auto 15px;
                    font-size: 18px;
                    padding: 10px 20px;
                    width: 180px;
                    border-radius: 30px; 
                    background: #eee;
                    border-style: solid;
                    border-color: rgb(23, 175, 207);
                    box-sizing: border-box;
                    text-decoration: none;
                }
}
