.body{
    margin: 0;
}

main{
    margin-top: 0px;
}


.containter{
    background-image: url(public/temp/image4.jpg);
    width: 100%;
    height: 300px;
    background-size: contain;
    padding: 100px 0;
    h1{
        margin: 0px;
    }
}

.list{
    margin: 0 auto;
    width: 980px;
    &_content{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
        &_items{
            min-height: 100px;
            width: calc(100% / 3);
            text-align: center;
        }
            &_item{
                padding: 5px;
            }
                &_text{
                    text-align: center;
                    margin: 20px auto 15px;
                    font-size: 18px;
                    padding: 15px 20px;
                    width: 280px;
                    background: #eee;
                    box-sizing: border-box;
                    text-decoration: none;
                }
}




