.loginPage { 
    &_image{
        background-image: url(public/temp/image3.jpg);
        width: 100%;
        height: 800px;
        background-size: cover;
    }
        &_contents { 
            height: 80vh; 
            display: flex; 
            flex-direction: column; 
            justify-content: space-between; 
            text-align: center; 
           
            &_title { 
                margin-top: 280px; 
                font-size: 50px;
                color: rgba(119, 119, 119, 0.986);
                font-weight: bold;
            }
                &_sentence{
                    color: rgb(119, 119, 119, 0.986);
                    font-size: 25px;
                    line-height: 1.5em;
                    margin-top: 50px;
                }
        
                
            &_btn { 
                display: block; 
                max-width: 200px; 
                padding: 20px; 
                margin: 0 auto; 
                border-radius: 30px; 
                background: #3490dc; 
                color: #fff; 
                margin-top: 12vh;
            } 
        }

}


.navbar{
    &_brand
    {
    color: rgb(23, 175, 207);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    }
}