.profile {
  &_contents {
    padding: 20px;
    text-align: center;
    background: $main-color;
    color: $main-text-color;
  }
  .userImgPreview {
      margin: 0 auto;
      display: none;
      text-align: center;
      &.is-active {
        display: block;
      }
      &_content {
        max-width: 100px;
        margin: 10px;
        padding: 10px;
        border: solid thin lightgray;
        border-radius: 5px;
      }
      &_text {
        font-size: 11px;
      }
  }
}
